<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:sl="http://schemas.android.com/apk/res-auto"
    package="com.mingle.myapplication">
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="21"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cocktail"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="false"    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResionCinemaActivity"></activity>
        <activity android:name=".RegionLibraryActivity"></activity>
        <activity android:name=".ResionExhibitionActivity"></activity>
    </application>

</manifest>
